<%- contentFor('body') %>
<link rel="stylesheet" data-name="vs/editor/editor.main" href="/node_modules/monaco-editor/min/vs/editor/editor.main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<table>
    <tr>
        <td>
            Nome do Arquivo:
        </td>
        <br>
        <td>
            <input type="text" id="filename" name="filename">
        </td>
        <td>
            <label for="guilds"><span>Seleciona a</span> <b>Guilda</b>:</label>
            <select id="guilds" name="guilds">
                <% data.guilds.forEach(guild => { %>
                    <option value="<%=guild.id%>"><%=guild.name%></option>
                <% }); %>
            </select>
        </td>

        <td>
            <input type="button" value="Criar" onclick="createCommand()">
        </td>
        <div id="container" style="
        width: 100%;
        height: 78.5vh;
        border:1px solid grey;
        "></div>
    </tr>
</table>
<script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="/js/ejs.min.js"></script>
<script>
    
    function runEval()
    {
        $.ajax({ url: '/runeval', type: 'POST', data: {
            codes: editor.getModel().getLinesContent()
        }});
    }

    function createCommand()
    {
        $.ajax({ url: '/newcommand', type: 'POST', data:{
            code: editor.getModel().getLinesContent(),
            guildid: document.getElementById('guilds').value,
            filename: document.getElementById("filename").value,
            enabled: true
        }});
    }
    require.config({
        baseUrl: '/node_modules/monaco-editor/min'
    });
    var editor;
    require(['vs/editor/editor.main'], function()
    {

        monaco.languages.typescript.typescriptDefaults.setCompilerOptions({
            target: monaco.languages.typescript.ScriptTarget.ES6,
            allowNonTsExtensions: true,
            esModuleInterop: true,
        });

        monaco.languages.typescript.typescriptDefaults.setCompilerOptions({
            target: monaco.languages.typescript.ScriptTarget.ES2016,
            allowNonTsExtensions: true,
            module: monaco.languages.typescript.ModuleKind.CommonJS,
            noEmit: true,
            esModuleInterop: true,
        });
        var parsed = {
            key: "",
            value: ""
        };
        <% data.dependencies.forEach((value, key) => { %>
            parsed.value = <%- JSON.stringify(value) %>
            parsed.key = <%- JSON.stringify(key) %>
            monaco.languages.typescript.typescriptDefaults.addExtraLib(parsed.value, parsed.key);
        <% }); %>

        // extra libraries


        var jsCode = 
        [
            'import { Command, IBot, IBotCommandConfig } from "MaytrixAPI";',
            'import { Message, Channel, Guild, } from "discord.js";',
            'export default class MyCommand extends Command',
            '{',
            '\tconstructor(client : IBot)',
            '\t{',
                '\t\tsuper(client,',
                '\t\t{',
                '\t\t\taliases: ["MUDE AQUI"],',
                '\t\t\tallowDMs: false,',
                '\t\t\tautodelete: 1000,',
                '\t\t\tcooldown: 1000,',
                '\t\t\thelp:',
                '\t\t\t{',
                '\t\t\t\tcategory: "MUDE AQUI",',
                '\t\t\t\tname: "MUDE AQUI",',
                '\t\t\t\tusage: "MUDE AQUI",',
                '\t\t\t\tdescription: "MUDE AQUI"',
                '\t\t\t},',
                '\t\t\tpermission: {',
                '\t\t\t\tlevel: ["READ_MESSAGES"],',
                '\t\t\t\tcreatorOnly: false',
                '\t\t\t}',
                '\t\t});',
            '\t}',

            '\t',

            '\trun(message : Message, args : Array<any>)',
            '\t{',
            '\t\t',
            '\t}',
            '}',
        ].join("\n");

        editor = monaco.editor.create(document.getElementById("container"), {
            model: monaco.editor.createModel(jsCode,"typescript"), 
        });

        editor.addAction({
            id: "Run Code",
            label: "Run any code",
            run: (ed) => {
                runEval();
            },
            keybindings: 
            [
                monaco.KeyMod.chord(monaco.KeyMod.CtrlCmd | monaco.KeyCode.KEY_B)
            ],
        });

        editor.addAction({
            id: "get-mirror-model-uris",
            label: "Debug monaco: Get worker models",
            run: () => {
                const modelUri = editor.getModel().uri.toString();
                const ts = monaco.languages.typescript;
                ts.getTypeScriptWorker().then(worker => {
                    return worker(modelUri);
                }).then(worker => {
                    return worker.getScriptFileNames();
                }).then(files => {
                    alert("Worker file names:\n" + files.join("\n"));
                });
            }
        });

    });


</script>

